@media (max-width: 1199px) {
  .current-page {
    width: 100%;
    position: fixed;
    top: 0;
    min-width: 320px;
    height: 100vh;
  }

  .page-content {
    width: 100%;
    min-width: 320px;
    height: 100%;
    padding: 0 30px;
    padding-bottom: 20%;
    margin-top: 60px;
    overflow-y: scroll;
  }

  .current-page .sub-wrap {
    display: none;
    z-index: 10;
    width: 265px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-top: 44px;
  }

  .current-page #close-sub-profile {
    position: absolute;
    z-index: 100;
    color: lightgray;
    top: 20px;
    left: 15px;
    font-size: 25px;
    cursor: pointer;
  }

  .current-page .sub-prof {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .current-page .sub-prof .change-profile {
    overflow: hidden;
    position: relative;
    max-width: 98px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .current-page .sub-prof .change-profile:active {
    transform: scale(0.98);
  }

  .current-page .sub-prof .change-profile img {
    max-width: 100%;
  }

  .current-page .sub-prof .change-profile .camera-icon {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: hsla(0, 0%, 11%, 0.3);
  }

  .current-page .sub-prof h4 {
    margin-bottom: 40px;
  }

  .current-page .sub-prof hr {
    border: 1px lightgray solid;
    width: 100%;
  }

  .current-page .sub-prof button {
    width: 100%;
    height: 42px;
    border: none;
    outline: none;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1c1c1c;
    cursor: pointer;
  }

  @media (hover: hover) {
    .current-page .sub-prof button:hover {
      background-color: #eaeaea;
    }
  }

  .current-page .sub-prof button:active {
    background-color: rgb(219, 219, 219);
  }

  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 60px;
  }

  .page-header header {
    min-width: 320px;
    z-index: 5;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a40000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 0 30px;
  }

  .page-header .left-group {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .page-header .left-group i {
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .page-header header .left-group i:active {
    transform: scale(0.95);
  }

  .page-header header h1 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.005em;
    color: #ffffff;
  }

  .page-header header .account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 13px;
    letter-spacing: 0.005em;
    color: #ffffff;
  }

  .page-header header .account-name h4:nth-child(1) {
    font-weight: 700;
  }

  .page-header header .account-name h4:nth-child(2) {
    font-weight: normal;
  }

  .page-header header .account #profile-icon {
    max-width: 38px;
    border-radius: 100%;
    margin-left: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .page-header header .account #profile-icon:active {
    transform: scale(0.95);
  }

  .popup-message {
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(28, 28, 28, 0.3);
    position: fixed;
  }

  .popup-message .content {
    width: clamp(280px, 50%, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
  }

  .popup-message .content .title {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a40000;
    color: white;
  }

  .popup-message .content .message {
    font-weight: 500;
    padding: 0 15px;
    margin-top: 10px;
    text-align: center;
  }

  .popup-message .content button {
    width: 50%;
    height: 30px;
    background-color: #a40000;
    color: white;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
