@media (max-width: 480px) {

  .transaction-history .wrapper {
    padding: 0 5px !important;
  }

  .permit-history .wrapper {
    padding: 10px 5px !important;
  }

  .transaction-history .row-wrap .rows {
    grid-template-columns: 1fr !important;
  }

  .permit-history .row-wrap .rows {
    grid-template-columns: 1fr !important;
  }
}