@media (max-width: 1024px) {

  .transaction-history {
    background-color: #eaeaea;
    border-radius: 15px;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .transaction-history header {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a40000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }

  .transaction-history header h2 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
  }

  .transaction-history .selector {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px 0 30px 0;
  }

  .transaction-history .group-inputs {
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .transaction-history .wrapper {
    padding: 0 10px;
  }

  .transaction-history .input-box {
    width: 100%;
    height: 40px;
    border: 2px lightgray solid;
    border-bottom: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    background-color: white;
    color: #1c1c1c;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    text-align-last: center;
    cursor: pointer;
  }

  .transaction-history .btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .transaction-history .proceed-btn {
    width: 90%;
    height: 40px;
    border: none;
    background-color: #a40000;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    transition: color 200ms background-color 200ms;
    cursor: pointer;
  }

  .transaction-history .proceed-btn:active {
    background-color: #7c1416;
    color: lightgray;
  }

  .transaction-history .row-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }

  .transaction-history .row-wrap .row {
    border-radius: 5px;
  }

  .transaction-history .row-wrap .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #a40000;
    border-top: none;
  }

  .transaction-history .row-wrap .header h2 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
  }

  .transaction-history .row-wrap .rows {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 5px;
  }

  .transaction-history .row-wrap .rows .row:nth-child(n + 3) {
    background-color: #ffff95;
  }

  .permit-history {
    background-color: #eaeaea;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
  }

  .permit-history .wrapper {
    padding: 20px 10px;
    padding-bottom: 1px;
    margin-top: 0;
  }

  .permit-history .row-wrap .row {
    background-color: #ffff95;
    border-radius: 5px;
  }

  .permit-history .row-wrap .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #a40000;
    border-top: none;
    border-radius: 5px;
  }

  .permit-history .row-wrap .header h2 {
    color: white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.01em;
  }

  .permit-history .row-wrap .rows {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .permit-history .row-wrap .row p:last-child span:nth-child(2) {
    color: #a40000;
  }

  .permit-history .row-wrap .row p .yes {
    color: #1bb300 !important;
  }
}