@media (min-width: 1200px) {
  .side-navigation {
    width: 260px;
    height: 100vh;
    display: block !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../../../../images/svcc_background.jpg");
  }

  .side-navigation .blur-bg {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 100%, 32%, 0.8);
    backdrop-filter: blur(2px);
    padding: 0 15px;
    padding-top: 40px;
  }

  .side-navigation #close-menu {
    display: none;
  }

  .side-navigation .wrapper {
    width: 100%;
    max-height: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .side-navigation .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
  }

  .side-navigation h2 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.015em;
    color: white;
    margin-top: 10px;
  }

  .side-navigation img {
    max-width: 98px;
    filter: drop-shadow(0px 1px 4px rgba(255, 255, 255, 0.8));
  }

  .side-navigation nav {
    display: flex;
    flex-direction: column;
  }

  .side-navigation nav hr {
    border: 1px rgba(255, 255, 255) solid;
  }

  .side-navigation nav button {
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    transition: background-color 200ms;
    cursor: pointer;
  }

  .side-navigation nav button:hover {
    background-color: #7c1416;
  }

  .side-navigation nav button:active {
    background-color: #610e10;
  }

  .side-navigation nav .active {
    background-color: #7c1416;
  }
}